.div45 {
  width: 124px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 11px;
  font-weight: 500;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.title4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  text-align: center;
}
.imei-0000000000002 {
  position: relative;
}
.device-info-wrapper2,
.device-info8 {
  display: flex;
  justify-content: flex-start;
}
.device-info8 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.device-info-wrapper2 {
  width: 100%;
  background-color: var(--color-darkslateblue);
  backdrop-filter: blur(12px);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-2xs) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 600px;
  color: var(--color-greyscale-500);
}
.div47 {
  flex: 1;
  position: relative;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-500);
}
.label13 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input13 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  background-color: var(--color-greyscale-0);
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  font-family: var(--text-sm-medium);
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-400);
}
.input13:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input13:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input13:focus {
  border: 1px solid var(--brand);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px rgba(0, 146, 204, 0.1);
}
.input-with-label9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 600px;
}
.image-30-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 188px;
  flex-shrink: 0;
  object-fit: cover;
}
.input14,
.map-area {
  display: flex;
  justify-content: flex-start;
}
.map-area {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
}
.input14 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  background-color: var(--color-greyscale-0);
  align-self: stretch;
  height: 40px;
  border-radius: var(--br-11xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
  font-family: var(--text-sm-medium);
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-400);
}
.input14:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input14:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input14:focus {
  border: 1px solid var(--brand);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px rgba(0, 146, 204, 0.1);
}
.hint-text {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-greyscale-600);
}
.frame-child2 {
  width: 270px;
  position: relative;
  border-top: 2px solid var(--color-greyscale-100);
  box-sizing: border-box;
  height: 2px;
  display: none;
}
.wrapper-info-field-child {
  width: 100%;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}
.input18 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  font-family: var(--text-sm-medium);
  font-size: var(--text-sm-medium-size);
  background-color: var(--color-greyscale-100);
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  color: var(--color-greyscale-400);
}
.input18:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input18:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input18:focus {
  border: 1px solid var(--brand);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px rgba(0, 146, 204, 0.1);
}
.input20 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  background-color: var(--color-greyscale-100);
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  font-family: var(--text-sm-medium);
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-400);
}
.input20:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input20:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input20:focus {
  border: 1px solid var(--brand);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px rgba(0, 146, 204, 0.1);
}
.wrapper-info-field1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 600px;
  font-size: var(--text-sm-medium-size);
}
.div48 {
  position: relative;
  font-weight: 500;
}
.install-pc,
.link-button12 {
  display: flex;
  box-sizing: border-box;
}
.link-button12 {
  width: 100%;
  border-radius: var(--br-11xs);
  background-color: var(--brand);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  height: 36px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-17xl);
  max-width: 600px;
  cursor: pointer;
  text-align: center;
  color: var(--color-greyscale-0);
}
.install-pc {
  width: 1920px;
  position: relative;
  background-color: var(--color-greyscale-0);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-13xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-greyscale-950);
  font-family: var(--text-sm-medium);
}
