.metainnotechlogo-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 92.3px;
  object-fit: cover;
}
.metainnotech-logo {
  width: 100%;
  position: relative;
  height: 92.3px;
}
