@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.rnslab-logo-icon1 {
  width: 150px;
  position: relative;
  height: 40.1px;
  object-fit: cover;
}
.site-name1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.rnslab-logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--brand);
}
.profile-icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.kiban18gmailcom {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 12px;
  font-weight: 500;
}
.id-area1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--text-sm-medium-size);
}
.alias2,
.div39,
.id-area1 {
  align-self: stretch;
}
.div39 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
}
.alias2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-greyscale-600);
}
.div40 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-black);
}
.my-info1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-7xs);
  font-size: var(--font-size-smi);
  color: var(--color-greyscale-900);
}
.b5,
.top-item {
  position: relative;
}
.top-item {
  align-self: stretch;
  border-top: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  height: 1px;
}
.b5 {
  flex: 1;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.left3,
.nav-item3 {
  flex-direction: row;
  align-items: center;
}
.left3 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.nav-item3 {
  background-color: var(--brand);
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-greyscale-0);
}
.nav-item-group,
.nav-item3,
.nav-item4 {
  width: 268px;
  display: flex;
  justify-content: flex-start;
}
.nav-item4 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
}
.nav-item-group {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.div41 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
}
.alias3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon8 {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.alias-group {
  width: 268px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  text-align: center;
  font-size: var(--font-size-smi);
}
.navigation-drawer1,
.top1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top1 {
  width: 268px;
  align-items: center;
  gap: var(--gap-7xl);
}
.navigation-drawer1 {
  width: 300px;
  height: 100%;
  position: relative;
  background-color: var(--color-greyscale-0);
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-greyscale-400);
  font-family: var(--text-sm-medium);
}
.navigation-drawer1.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
