@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.rnslab-logo-icon {
  width: 150px;
  position: relative;
  height: 40.1px;
  object-fit: cover;
}
.site-name {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.rnslab-logo-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--brand);
}
.profile-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.abcdabcdabcdacbdgmailcom {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 12px;
  font-weight: 500;
}
.div46,
.id-area {
  align-self: stretch;
}
.id-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--text-sm-medium-size);
}
.div46 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
}
.alias {
  width: 244px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-greyscale-600);
}
.div47 {
  width: 47px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
  text-align: right;
  display: none;
}
.my-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-xs);
  gap: var(--gap-7xs);
  font-size: var(--font-size-smi);
  color: var(--color-greyscale-950);
}
.b1,
.top-child {
  position: relative;
}
.top-child {
  align-self: stretch;
  border-top: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  height: 1px;
}
.b1 {
  flex: 1;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.left,
.nav-item,
.nav-item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.left {
  flex: 1;
}
.nav-item,
.nav-item1 {
  width: 268px;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
}
.nav-item {
  background-color: var(--brand);
  color: var(--color-greyscale-0);
}
.nav-item1 {
  border-radius: var(--br-5xs);
}
.device-total-number2 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.title5,
.total-number4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.total-number4 {
  flex: 1;
  align-items: center;
  padding: var(--padding-11xs) 0;
}
.title5 {
  width: 268px;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-greyscale-700);
}
.n4 {
  color: var(--brand);
}
.text5 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.info-title3,
.nav-item-parent {
  width: 268px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-title3 {
  flex-direction: row;
  padding: 0 17px 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--color-greyscale-700);
}
.nav-item-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.div48 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 18px;
  font-weight: 500;
}
.alias1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon1 {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.alias-parent {
  width: 268px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  text-align: center;
  font-size: var(--font-size-smi);
}
.navigation-drawer,
.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top {
  width: 268px;
  align-items: center;
  gap: 26px;
}
.navigation-drawer {
  width: 300px;
  height: 100%;
  position: relative;
  background-color: var(--color-greyscale-0);
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-greyscale-400);
  font-family: var(--text-sm-medium);
}
.navigation-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .text5 {
    text-align: left;
  }
}
@media screen and (max-width: 526px) {
  .info-title3 {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 400px) {
  .device-total-number2 {
    font-size: var(--font-size-base);
  }
  .title5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .text5 {
    font-size: var(--text-sm-medium-size);
  }
  .info-title3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
