.b1,
.label11 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.b1 {
  width: 124px;
  letter-spacing: 0.03em;
  line-height: 11px;
  height: 13px;
}
.label11 {
  width: 26px;
  line-height: 20px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-greyscale-0);
  border: 1px solid var(--color-greyscale-100);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.group-child2 {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 4px);
  max-height: 100%;
  width: 8px;
}
.rectangle-container {
  width: 24px;
  position: relative;
  height: 24px;
}
.input11 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  font-family: var(--text-sm-medium);
  font-size: var(--font-size-base);
  background-color: var(--color-greyscale-0);
  height: 36px;
  width: 59px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
  color: var(--color-greyscale-600);
}
.input11:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input11:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input11:focus {
  border: 1px solid var(--color-plum);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #f4ebff;
}
.frame-div {
  gap: var(--gap-7xs);
}
.frame-div,
.input12,
.noise1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.noise1 {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-81xl);
}
.input12 {
  border: 1px solid var(--color-greyscale-400);
  outline: 0;
  font-family: var(--text-sm-medium);
  font-size: var(--font-size-base);
  background-color: var(--color-greyscale-0);
  height: 36px;
  width: 62px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  color: var(--color-greyscale-600);
}
.input12:hover {
  border: 1px solid var(--color-greyscale-600);
  box-sizing: border-box;
}
.input12:disabled {
  background-color: var(--color-greyscale-50);
  border: 1px solid var(--color-greyscale-300);
  box-sizing: border-box;
}
.input12:focus {
  border: 1px solid var(--color-plum);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #f4ebff;
}
.level-input-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
}
.div32 {
  position: relative;
  font-weight: 500;
}
.link-button11,
.sensitivity-level-pc {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.link-button11 {
  width: 187px;
  border-radius: var(--br-11xs);
  background-color: var(--brand);
  height: 36px;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-17xl);
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-greyscale-0);
}
.sensitivity-level-pc {
  width: 474px;
  position: relative;
  background-color: var(--color-greyscale-0);
  height: 366px;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-17xl);
  gap: 50px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-950);
  font-family: var(--text-sm-medium);
}
