.notification-settings1 {
  position: relative;
  font-weight: 500;
}
.notification-settings,
.title3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
}
.title3 {
  align-self: stretch;
  padding: 0 var(--padding-11xs);
}
.text2 {
  flex: 1;
  position: relative;
}
.info-title2,
.title-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-title2 {
  flex-direction: row;
  padding: var(--padding-11xs);
  font-size: var(--font-size-base);
  color: var(--color-greyscale-600);
}
.title-wrapper {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.checkbox1 {
  margin: 0;
  width: 16px;
  height: 16px;
}
.text3 {
  width: 45px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.check-box,
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checkbox {
  align-items: center;
  gap: var(--gap-5xs);
}
.check-box {
  width: 120px;
  background-color: var(--color-greyscale-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  padding: var(--padding-7xs) var(--padding-11xl);
  box-sizing: border-box;
}
.text4 {
  width: 43px;
  position: relative;
  letter-spacing: 0.3em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-sm-medium-size);
  color: var(--color-greyscale-800);
}
.main3 {
  width: 100%;
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 1400px;
}
.main3,
.system-management,
.system-management-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.system-management-content {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-greyscale-50);
  align-items: center;
}
.system-management {
  width: 100%;
  position: relative;
  height: 909px;
  align-items: flex-start;
  text-align: left;
  font-size: 23px;
  color: var(--color-greyscale-950);
  font-family: var(--text-sm-medium);
}
@media screen and (max-width: 526px) {
  .title3 {
    padding-left: 0;
    padding-top: 0;
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .text2 {
    text-align: left;
  }
  .main3 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 400px) {
  .notification-settings1 {
    font-size: var(--font-size-base);
  }
  .title3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .text2 {
    font-size: var(--font-size-smi);
    text-align: left;
  }
  .main3 {
    padding-left: var(--padding-5xl);
    padding-top: var(--padding-xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .system-management-content {
    min-width: 370px;
  }
}
